.git
.idea
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!env.prod
docker-compose.override.yml
npm-debug.log
yarn-error.log
